name: master build
on:
  push:
    branches: master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Restore cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build and test
        run: ./gradlew build jacocoTestReport
      - name: Upload test coverage
          env:
            CC_TEST_REPORTER_ID: ${{ secrets.CODE_CLIMATE_REPORTER_ID }}
            GIT_COMMIT_SHA: ${{ github.sha }}
            GIT_BRANCH: master
          run: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
            JACOCO_SOURCE_PATH=src/main/java ./cc-test-reporter format-coverage -t jacoco -o build/coverage/codeclimate-airtable-java.json build/reports/jacoco/test/jacocoTestReport.xml
            ./cc-test-reporter upload-coverage -i build/coverage/codeclimate-airtable-java.json
